<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>
      <% if (typeof id !== 'undefined') { %>
      <div class="generated-url">
        URL Generated:
        <a href="http://localhost:3000/url/<%= id %>"
          >http://localhost:3000/url/<%= id %></a
        >
      </div>
      <% } %>
      <form action="/url" method="post">
        <label for="url">Enter your Original URL</label>
        <input
          type="text"
          id="url"
          name="url"
          placeholder="https://example.com"
          required
        />
        <button type="submit">Submit</button>
      </form>
      <% if (typeof urls !== 'undefined' && urls.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Serial No.</th>
            <th>ShortID</th>
            <th>Redirect</th>
          </tr>
        </thead>
        <tbody>
          <% urls.forEach((url, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= url.shortId %></td>
            <td><a href="<%= url.redirectUrl %>"><%= url.redirectUrl %></a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
